/* currently getting from index.css for some reason.... */
header {
  font-family: "Rubik Beastly";
  /* display: inline-block; */
  text-align: center;
  /* justify-content: center; */
}

h1 {
  font-size: 5em;
  /* display: inline-block;
  text-align: center;
  margin: auto;
  justify-content: center; */
}